#top, #period, #logs {
    margin-top: 65px;
}
#used{
    margin-top: 10px;
}
#period_status {
    color: green;
}
.section-part {
    margin-top: 35px;
}
td {
    color: black !important;
}
@media (min-width: 1000px) {
    td {
        font-size: 18px !important;
    }
}

.applybuttons{
    margin: 10px;
    font-size: 16px !important;
    width: 150px !important;
}
.pas {
    font-size: 23px !important;
    color: #000 !important;
}

.applybuttons:active { 
    background-color: green !important;
}
.applybuttons:focus { 
    background-color: green !important;
}
#preview {
    margin-top: 10px; 
    margin-right: 80px; 
    max-width: 470px !important;
}
.pminus {
    font-size: 38px  !important;
    font-weight: 700  !important;
    color: white  !important;
    width: 15px !important;
    height: 15px !important;
}
.plus {
    font-size: 38px  !important;
    font-weight: 700  !important;
    color: white  !important;
    width: 15px !important;
    height: 15px !important;
}
