<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard BANKEX</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./bootstrap/boostrap.min.css">
    <link rel="stylesheet" href="./styles/scan.css">
</head>

<body onload="startStream('preview1'), getPeriodAndAllowedToken()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">BANKEX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./scan">Scan QR
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div id="top" class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center" id="startVideoStream">

                <!-- <div class="col-sm-12 text-center">
                    <h1>Scan QR</h1>
                    <br> -->
                <h1>Scan QR</h1>
                <br>
                <button class="btn btn-info btn-lg" onclick="startStream('preview1')">
                    SCAN </button>
                <br>
                <br>
                <br>
                <!-- </div> -->
            </div>
            <div class="col-sm-12 text-center" id="txSuccessOrNot">

            </div>
            <div class="container section-part">
                <div class="row">
                    <hr>
                    <div class="col-sm-4">
                        <div class="text-center">

                        </div>
                    </div>
                    <div class="col-sm-6 text-center">

                    </div>
                </div>
                <hr>
                <div class="col-sm-12 text-center" id="txHash">

                </div>
            </div>

        </div>
    </div>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="./bootstrap/jquery-3.1.1.slim.min.js"></script>
    <script src="./bootstrap/tether.min.js"></script>
    <script src="./bootstrap/bootstrap.min.js"></script>
    <script src="./utils/web3.min.js" type="text/javascript"></script>
    <script src="./utils/keythereum/dist/keythereum.min.js" type="text/javascript"></script>
    <script src="./utils/crypto-js/crypto-js.js" type="text/javascript"></script>
    <script src="./utils/config.js" type="text/javascript"></script>
    <script src="./utils/initialiseWeb3.js" type="text/javascript"></script>
    <script src="./utils/instascan.min.js" type="text/javascript"></script>
    <script src="./utils/llqrcode.js" type="text/javascript"></script>
    <script src="./utils/qrScanner.js" type="text/javascript"></script>
    <script src="./utils/account.js" type="text/javascript"></script>
    <script src="./utils/ethereum.js" type="text/javascript"></script>
    <script src="./utils/ethereumjs-tx.js"></script>
    <script src="./utils/aes.js" type="text/javascript"></script>
    <script src="./utils/contractData.js" type="text/javascript"></script>
    <script src="./utils/multiToken.js" type="text/javascript"></script>
    <script src="./js/index.js" type="text/javascript"></script>
</body>

</html>